<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Children Education Fund</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/about/campaign">About This Campaign</a>
        <a class="nav-link" href="/name">Interested people so far</a>
        <a class="nav-link" href="https://hdinepal.org/" target="_blank">Official Organization Website</a>  
             
      </div>
      <div class="navbar-nav ml-auto">
          <a href="/about/me" class="nav-link">About Me</a>
      </div>
    </div>
  </div>
</nav>