<img src="/bishal.jpeg" class="rounded mx-auto d-block img-fluid" alt="Bishal" height="400px" width="400px">
<div class="card-body text-center">
    <p class="card-text display-5">Bishal Khadka</p>
  </div>

<div class="card-deck">
  <div class="card bg-secondary">
    <div class="card-body text-center">
      <p class="card-text text-white font-weight-bold">Hi, I am Bishal Khadka. 
          I am from Jiri, Nepal and currently pursuing my Computer Science degree at
          Colorado Mesa University, CO, USA. I am a senior student here at CMU planning to graduate in Spring 2021.
          Lastly, I love my family!
      </p>

    </div>
  </div>
  <div class="card bg-secondary">
    <div class="card-body text-center">
      <p class="card-text text-white font-weight-bold">I work as QA intern at ProStar Geocorp. I am also 
          working as a student IT technician at Colorado Mesa University I have also worked in cyber center at Maverick Innovation Center, CMU to 
          do cyber security research and helped in publishing papers.
      </p>
    </div>
  </div>
  <div class="card bg-secondary">
    <div class="card-body text-center">
      <p class="card-text text-white font-weight-bold">I was interested in this campaign because I believe in change
          through education. Nepal is a small, beautiful, and peaceful country with many natural beauties. Parts of Nepal 
          like Upper Dolpa are deprived of schools and education, so this campaign caught my eyes. I looked at the 
          pictures of innocent children who are deprived of education and could not control myself to create this website
          to promote this campaign.
      </p>
    </div>
  </div>
  <div class="card bg-secondary">
    <div class="card-body text-center">
      <p class="card-text text-white font-weight-bold">Just a price of your coffee could help some children. I got the information about the campaign
          from Sanjay Bahadur Singh Thakuri, who has been volunteering at Nepal Innovation Center (NIC) in Nepal. Mr. Sanjay
          has also voluntered in imparting the education in upper dolpa for about 7 months. Mr. Sanjay and his team has
          put a lot of effort to make this campaign succesful. Please help!!
      </p>
    </div>
  </div>
</div>