<div class="jumbotron">
    <u><h1 class="display-5 text-center">Children Education Fund</h1></u><br>
    <img src="/dolpa.jpg" alt="Dolpa" class="rounded mx-auto d-block img-fluid">
    <blockquote class="blockquote text-center">
        <p class="lead text-success font-weight-bold">This is a campaign to collect fund to sponsor education to as much
            children as we can in upper Dolpa, Nepal.
        </p>
        <p class="lead text-dark"> "Currently we are supporting two schools, Shree Yanjeer Gumba Basic School, Nyisal
            village and Luhri School,
            Luhri village, where, altogether, about 60 children are getting primary level education. Some teachers are
            sent from school while
            some are locals from nearby villages and have to stay in school in order to do their job and there is no
            alternative. The schools
            provide free education to the kids while receiving firewood, fooding items like flour, oil, potatoes etc
            from their families in
            return which will be used by the teachers, and students, during their stay in the school."
        </p>
        <footer class="blockquote-footer text-right"> <cite title="Source Title">From hdinepal.org website</cite>
        </footer>
        <p class="lead text-danger text-center font-weight-bold">$200 to sponsor a child for a year </p>
    </blockquote>
    <p class="lead text-center">
        <a class="btn btn-success btn-lg" href="https://hdinepal.org/" role="button" target="_blank">Official
            Organization Link</a>
    </p>
    <p class="lead text-center">
        <a class="btn btn-success btn-lg " href="https://hdinepal.org/sponsor-a-child/" role="button" target="_blank">See
            children you are sponsoring</a>
    </p>
</div>