<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <u>
            <h1 class="display-4 text-center">FORM</h1>
        </u><br>
        <p class="lead text-center text-muted">Please review the "About This Campaign" and the "Official Organization Website"
            link on this Website
            and if you are interested, please fill out the form below: </p>
        <hr class="my-4">
        <p class="lead text-danger text-center">Note:</p>
        <p class="lead text-center text-muted">Filling this form does not mean you have to DONATE. This simply
            means that you are interested in this campaign. </p>
    </div>
</div>

<div class="card card-body">
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">First Name</label>
            <input class="form-control" id="exampleFormControlTextarea1" type="text" name="firstName">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Last Name</label>
            <input class="form-control" id="exampleFormControlTextarea1" type="text" name="lastName">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@email.com"
                name="email1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Confirm Email Address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="confirm@email.com"
                name="email2">
            <small class="text-muted">**Your email address will be kept confidential**</small>
        </div>
        <button class="btn btn-success">Submit</button>
    </form>
</div>